@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background: #313338;
}
* {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}
body::-webkit-scrollbar {
  display: none;
}
body .scroll {
  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */
}

@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}

@keyframes move {
  /* keyframe */
  from {
    top: 5lvh;
  }
  /* keyframe */
  to {
    top: 0;
  }
}

@keyframes fadeIn {
  /* keyframe */
  from {
    opacity: 0;
  }
  /* keyframe */
  to {
    opacity: 100;
  }
}
